*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
}

#body-container{
    display: flex;
    height: 90vh;
}
        #left-container{
            flex: 1;
            background-color: rgb#FFFFFFFF;
            border-radius: 8px;
        }


#right-container{
    flex: 1;
    background-color: rgb(170, 173, 161);
    }

    h2 {
        
        font-family: 'Roboto', sans-serif;position: absolute; 
        top: 18%; 
        left: 26%; 
        transform: translate(-50%, -50%); 
    }       

    .container2 {
        position: absolute; 
        top: 330px; 
        left: 84px; 
        width: 180px; 
        height: 228px; 
        background: #EAFEF8CC; /* primary-100 */
        border-radius: 8px; /* border-l */
        border-width: 1px; 
        border-color: #04543DFF; /* primary-500 */
        border-style: solid; 
      }

      .container23 {
        position: absolute; 
        top: 330px; 
        left: 284px; 
        width: 180px; 
        height: 228px; 
        background: #EAFEF8CC; /* primary-100 */
        border-radius: 8px; /* border-l */
        border-width: 1px; 
        border-color: #04543DFF; /* primary-500 */
        border-style: solid; 
      }

      .container24 {
        position: absolute; 
        top: 330px; 
        left: 484px; 
        width: 180px; 
        height: 228px; 
        background: #EAFEF8CC; /* primary-100 */
        border-radius: 8px; /* border-l */
        border-width: 1px; 
        border-color: #04543DFF; /* primary-500 */
        border-style: solid; 
      }

      #sec1{
        position: absolute;
        top: 2%;
    left: 6%;
    }

    /* Button 122 */
.button {
    
    position: absolute; 
    top: 640px; 
    left: 200px; 
    width: 145px; 
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Encode Sans; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: rgb(253, 253, 253); /* white */
    background: #04543DFF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 12px; /* border-xl */
    box-shadow: 0px 4px 9px #04543d, 0px 0px 2px #04543d; /* shadow-m */
    gap: 6px; 
  }
  .button .icon {
    width: 20px; 
    height: 20px; 
    fill: #FFFFFFFF; /* white */
  }
  /* Hover */
  .button:hover {
    color: rgb(11, 221, 141); /* white */
    background: rgba(2, 114, 45, 0.863); /* primary-600 */
  }
  /* Pressed */
  .button:hover:active {
    color: #FFFFFFFF; /* white */
    background: #023225FF; /* primary-750 */
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }

  .progressiveBar{
    position: absolute; 
  top: 132px; 
  left: 64px; 
  width: 318px; 
  height: 8px;
  }
      
  #rectangle1 {
    position: absolute;               
    top: 0px;                                /*preeee difined css codeede
    */
    left: 0px; 
    width: 48px; 
    height: 8px; 
    background: #04543DFF; /* primary-500 */
    border-radius: 4px; 
    box-shadow: 0px 4px 9px #04543d, 0px 0px 2px #04543d; /* shadow-m */
  }
  #rectangle2 {
    position: absolute;               
    top: 0px;                                /*preeee difined css codeede
    */
    left: 55px; 
    width: 48px; 
    height: 8px; 
    background: #04543DFF; /* primary-500 */
    border-radius: 4px; 
    box-shadow: 0px 4px 9px #04543d, 0px 0px 2px #04543d; /* shadow-m */
  }
  #rectangle3 {
    position: absolute;               
    top: 0px;                                /*preeee difined css codeede
    */
    left: 110px; 
    width: 48px; 
    height: 8px; 
    background: #04543DFF; /* primary-500 */
    border-radius: 4px; 
    box-shadow: 0px 4px 9px #04543d, 0px 0px 2px #04543d; /* shadow-m */
  }
  
  #container2text {
    position: absolute; 
    top: 75%; /* Adjust vertically */
    left: 50%; /* Adjust horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    font-family: 'Encode Sans', sans-serif; /* Body */
    font-size: 12px; 
    line-height: 30px; 
    font-weight: 400; 
    color: #424955FF; /* neutral-650 */
}

.progressiveBar{
    left: 200px;
}


#title1{
    left:334px;
    top: 220px;
}

